
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', Arial, sans-serif, 'Helvetica Neue';
}
hr {
  border-color: #00b4f1;
  border-width: 3px;
  max-width: 400px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #8DC63F;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #8DC63F;
}

.bg-dark {
  background-color: #222222;
  color: white;
}

.img-click {
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
}

.whiteColor{
  color: white;
}

.row {
  margin: 0px;
}

.text-just {
  text-align: justify;
}

.btn {
  font-size: 24px;
}

.zoom {
  padding: 5px;
  transition: transform 0.5s;
  min-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  background-size: cover;
}

.zoom:hover {
  -ms-transform: scale(3.5); /* IE 9 */
  -webkit-transform: scale(3.5); /* Safari 3-8 */
  transform: scale(3.5); 
  z-index: 999;
}

.bg-wide {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
  min-height: 700px;
  background-image: url('../img/bor.jpg');
}

.bg-wide-2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
  min-height: 700px;
  background-image: url('../img/wide_cs_2.jpeg');
}

.bg-grey {
  min-height: 700px;
  background-color: #dadadaa6
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-box {
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 35px;
}

.padd-top {
  margin-top: 120px;
}

.font22 {
  font-size: 22px;
}

section {
  padding: 40px 0 40px 0px;
}

.no-padding {
  padding: 0px;
}

aside {
  padding: 50px 0;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #8DC63F;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #8DC63F;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #8DC63F;
}

.navbar-brand {
  padding: 7px 7px;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #8DC63F !important;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color:#4C4C4D;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #4C4C4D;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #4C4C4D;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #4C4C4D;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #8DC63F;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #8DC63F;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #8DC63F;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
  background-image: url('../img/vert_main_2_1.png');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: #4C4C4D;
  font-size: xx-large;
  font-style: italic;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 70%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    /* margin-left: auto; */
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    color: #4C4C4D
  }
  header .header-content .header-content-inner p {
    /* font-size: 18px; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
  text-transform: uppercase;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}


.service-box p {
  margin-bottom: 0;
}

.text-primary {
  /* color: #8DC63F; */
  color: #ffffff;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #8DC63F;
  border-color: #8DC63F;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary .badge {
  color: #8DC63F;
  background-color: white;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
